@model IEnumerable<Product>

<script src="https://cdn.builder.io/js/webcomponents"></script>
<builder-component model="page" api-key="YOUR_API_KEY"></builder-component>

@foreach (var product in Model)
{
  <div class="div">
  <div class="div-2">
    <div class="div-3">
      <div class="div-4">
        <div class="div-5">
          <picture>
            <source
              srcset="
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?format=webp&width=100   100w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?format=webp&width=200   200w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?format=webp&width=400   400w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?format=webp&width=800   800w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?format=webp&width=1200 1200w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?format=webp&width=1600 1600w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?format=webp&width=2000 2000w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe
              "
              type="image/webp"
            />
            <img
              src="https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe"
              srcset="
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?width=100   100w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?width=200   200w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?width=400   400w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?width=800   800w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?width=1200 1200w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?width=1600 1600w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe?width=2000 2000w,
                https://cdn.builder.io/api/v1/file/assets%2Fanonymous%2F9f837f2ea4734d6f9ce3d5746e7f3abe
              "
              class="image"
              data-name="image"
            />
          </picture>
          <div class="builder-image-sizer image-sizer"></div>
        </div>
      </div>
    </div>
    <div class="div-6">
      <picture>
        <source
          srcset="
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?format=webp&width=100   100w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?format=webp&width=200   200w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?format=webp&width=400   400w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?format=webp&width=800   800w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?format=webp&width=1200 1200w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?format=webp&width=1600 1600w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?format=webp&width=2000 2000w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc
          "
          type="image/webp"
        />
        <img
          src="https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc"
          srcset="
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?width=100   100w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?width=200   200w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?width=400   400w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?width=800   800w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?width=1200 1200w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?width=1600 1600w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc?width=2000 2000w,
            https://cdn.builder.io/api/v1/image/assets%2FTEMP%2Fef509f10fd6b4e798b65b1c2a3d785bc
          "
          class="image"
        />
      </picture>
      <div class="builder-image-sizer image-sizer"></div>
    </div>
    <div class="div-7">₺25,90</div>
    <div class="div-8">Avokado 3'lü</div>
  </div>
</div>
}
<style>
  .div {
    display: flex;
    flex-direction: row;
    max-width: 1518px;
    justify-content: flex-start;
    margin-right: auto;
  }
  .div-2 {
    display: flex;
    flex-direction: column;
    max-width: 136px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 9px;
    padding-left: 8px;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 14px;
  }
  .div-3 {
    display: flex;
    flex-direction: column;
    max-width: 54px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10000000149011612);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    border-color: rgba(0, 0, 0, 0.07999999821186066);
    border-width: 1px;
    border-style: solid;
    margin-left: auto;
  }
  .div-4 {
    display: flex;
    flex-direction: row;
    max-width: 48px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 4px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 8px;
  }
  .div-5 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 2px;
    width: 100%;
    min-height: 20px;
    min-width: 20px;
    overflow: hidden;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer {
    width: 100%;
    padding-top: 100%;
    pointer-events: none;
    font-size: 0;
  }
  .div-6 {
    display: flex;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 120px;
    width: 120px;
    margin-bottom: 18px;
  }
  .div-7 {
    max-width: 44px;
    color: rgba(93, 62, 188, 1);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Open Sans, sans-serif;
  }
  .div-8 {
    max-width: 87px;
    color: rgba(25, 25, 25, 1);
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Open Sans, sans-serif;
  }
</style>
<script>
  (() => {
    const state = {};

    // Function to update data bindings and loops
    // call update() when you mutate state and need the updates to reflect
    // in the dom
    function update() {
      document.querySelectorAll("[data-name='image']").forEach((el) => {
        el.loading = "lazy";
      });
    }

    // Update with initial state on first load
    update();
  })();
</script>